@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karma:wght@300&family=Poppins:wght@100;300&family=Roboto+Mono:wght@100&family=Waiting+for+the+Sunrise&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    font-size: 1em;
    margin: 2px;
}

h1{
    color:whitesmoke;
    font-size: 3.5em;
}

h2{
    color:whitesmoke;
    font-family: 'Karma', serif;

}

h4 {
    font-size: 1.2em;
    margin-bottom: 0px;
    color: rgb(202, 201, 201);

}

p.lastupdate {
    font-size: 0.7em;
    color: rgb(65, 65, 65);
}

p {
    text-align: left;
    margin: 0px;
    color: rgb(223, 223, 223);
}

input[type=text] {
    border:solid;
    border-color:slategray;
    border-width: 2px;
    border-radius: 10px;
    color: rgb(37, 37, 37);
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    font-family: 'Roboto Mono', monospace;


}



p.clock {
    text-align: right;
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;

}

p.greeting {
    text-align: center;
    font-size: 4em;
    font-family: 'Waiting for the Sunrise', cursive;
}

p.p_left {
    text-align: left;
    display: inline-block;
    float: left;
}

p.p_right {
    text-align: right;
    display: inline-block;
    float: right;
}

button {
    background-color: black;
    color: whitesmoke;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    font-size: 1.5em;
    margin: 2px
}

button:hover {
    border-color: yellowgreen;
    background-color: rgb(48, 48, 48);
}

div.applet {
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: white;
    border-width: 1px;
    border-color: black;
    vertical-align: middle;
    padding: 4px;
    border-radius: 5px;
    transition: fadeInAnimation 2s;
}

div.applet:hover {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}


div.dragger {
    cursor: move;
    z-index: 10;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    vertical-align: middle;
    text-align: left;
}

div.messagebox{
    margin-top:1%;
    padding:10px;
    border:solid;
    border-color:orange;
    border-radius: 5px;
    z-index: 19999;
    background-color: rgb(63, 62, 62);
    top:0;
    margin-left: 35%;
    text-align: center;
    position:fixed;
    min-width: 30%;

}

p.messagebox{
    font-size: 1em;
    display: block;
    text-align: center;
}

div.statusbox{
    margin-bottom:1%;
    margin-top:5px;
    padding:5px;
    border:solid;
    border-color:gray;
    border-width: 2px;
    border-radius: 2px;
    z-index: 19999;
    background-color: rgba(31, 30, 30, 0.527);
    bottom:0;
    margin-left:10px;
    text-align: center;
    min-width: 200px;

}

p.statusbox{
    font-size: 0.8em;
    color:orange;
    padding: 0px;
    vertical-align: middle;
    text-align: left;
}

div.perc_block {
    height: 2px;
    background-color: grey;
    display: inline-block;
    padding:0px;
    margin:0px;
    text-align: left;
}

@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100%{opacity: 1;}
    }


    